@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  height: 100%;
}

body {
  @apply text-zinc-50 antialiased;
}

::selection {
  background: rgba(99, 102, 241, 0.35);
}
